<h1>Hello <%= @username %></h1>


Current spaces:

<% if @user_spaces %>
  <ul>

    <% @user_spaces.each_with_index do |element, i| %>
      <li><%= element%></li>
      <li><%= @user_description[i]%></li>
      <li>£<%= @user_price[i]%></li>
      <form action="/add_new_date" method="post">
        <input type="hidden" name="id" value = <%= @space_ids[i] %> >
        <input type="text" name ="date">
        <input type="submit" name="submit" > <br>
      </form>
      dates:<br>
      <br>
    <% end %>

  </ul>
<% end %>


#input box ####-##-##

[2022-01-18, 2022-01-20]

delete FROM spaces WHERE avalible has 2022-01-18
                          [2022-01-18, 2022-01-20]

