<h1>Hello <%= @username %></h1>


Current spaces:

<% if @space_names %>
  <ul>

    <% @space_names.each_with_index do |element, i| %>
      <li><%= element%></li>
      <li><%= @space_descriptions[i]%></li>
      <li>£<%= @space_prices[i]%></li>
      <form action="/add_new_date" method="post">
        <input type="hidden" name="id" value = <%= @space_ids[i] %> >
        <input type="text" name ="date" >
        <input type="submit" name="submit" > <br>
      </form>
      dates:
      <li><%= @space_available[i]%></li><br>
      <br>
    <% end %>

  </ul>
<% end %>
